numpy==1.19.2
joblib==0.17.0
bert-serving-server
bert-serving-client
pandas
scikit-learn==0.20.0
tensorflow==1.13.1
protobuf==3.20.0


#pip install clip-client

# Na pasta SRC e na pasta personality_detection-main"
# Execute código no terminal
# $env:PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION="python"

# Ativar conda, executar $env
#1 - python shrink_data.py
#2 - bert-serving-start -model_dir C:/Users/moura/Projetos/Essays_Soft_K/src/personality_detection-main/uncased_L-12_H-768_A-12/ -num_worker=1 -max_seq_len=512 -show_tokens_to_client -pooling_layer -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

# Em um segundo terminal
#3 - python process_data_with_sentence_bert.py
#4- python svm_result_calculator.py